<html>
    <head>
        <title>Nope</title>
        <link rel = "stylesheet" type = "text/css" href = "blockstyle.css">
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device - width">

        <link rel = "stylesheet"
        href = "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity = "sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin = "anonymous">

        <style>
            #wrapper {
                background-color: lightgrey;
                height: 650px;
                text-align: center;
                padding-top: 10px;
            }
            a {
                font-size: 25px;
                padding: 10px;
            }
            img {
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <div id = "wrapper">
            <h1>I don't think so, sugarcube.</h1>
            <img src = "https://derpicdn.net/img/view/2014/4/19/604805__safe_screencap_applejack_trade+ya_all+new_animated_applejack+is+not+amused_applejack+judges+on+the+outside_bag_frown_hubble_hub+logo_looking+at.gif"
            alt = "Applejack says no">
            <br>
            <br>
            <br>
            <a href = "/">Back to Homepage</a>
        </div>
    </body>
</html>